.main {
  --blue: #409Eff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.link {
  color: var(--blue);
  text-align: center;
  text-decoration: none;
  position: relative;
  font-size: 50px;
  margin-bottom: 20px;
}

.link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid var(--blue);
}