:root {
  height: 100vh;
  width: 100%;
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  --bg: linear-gradient(to right, blue, violet);
}

:root[data-theme="dark"] {
  --bg: linear-gradient(to right, white, black);
}

:root {
  background: var(--bg);
}
